table
{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  border-collapse: collapse;


}
table, td, tr
{
  border: 1px solid black;
  padding: 10px;
}
h1
{
  text-align: center;

}
#playingfield
{
  background-color: lightgreen;
  width: 512px;
  height: 512px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px
}
button
{
  height: 100px;
  width: 100px;
}
